<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
<h1 id="page-title">Budget manager</h1>
<ul class="main_ul">
    <li>
        <h2 id="add-product">Dodaj nowy produkt</h2></li>
        <div id="add-product-form" class="hidden">
            <form action="" method="post">
                <label>Nazwa produktu:</label>
                <input type="text" name="product-name">
                <label>Cena:</label>
                <input type="number" step="0.01" name="product-price">
                <input type="submit" value="Zapisz">
            {% csrf_token %}
            </form>

        </div>
    </li>
    <li>
        <h2 id="show-all-products">Pokaż wszystkie produkty</h2></li>
    <div id="list-of-products" class="hidden">

        <!--Filter products by name/part of name-->
        <input id="input-show-products" type="text">
        <input id="btn-show-products" class="input-button" type="submit" value="Szukaj">

        <br><br>

        <ul id="content-list-product">
            <!--Load list of products here-->
        </ul>
    </div>
    <li>
        <h2 id="show-all-expenses">Pokaż wszystkie wydatki</h2></li>
    <div id="list-of-expenses" class="hidden">
        <ul id="content-list-expenses">
            <!--Load list of expenses here-->
        </ul>
    </div>
</ul>
<!--    {% load static %}-->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>