body {
    margin-left: 0;
}


#page-title {
    text-align:center;
}
.hidden {
    display: none;
}

.main_ul {
    list-style-type:none;
}

.main_ul > li > h2 {
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.main_ul > li > h2:hover {
    background-color: yellow;
}

.input-button {
    cursor: pointer;
}

.delete_product, .edit_product, .delete_expense, .edit_expense {
    cursor: pointer;
    display: inline-block;

}

.delete_product:hover, .delete_expense:hover  {
    color: red;
}

.edit_product:hover, .edit_expense:hover  {
    color: blue;
}

#edit-title {

}


.form-popup-product {
    text-align:center;
      display: none;
      border-left: 5px solid #0066ff;
      background: #99c2ff;
      position: fixed;
      padding: 10%;
      top: 50%;
      left: 50%;
      opacity: .9;
      transform: translate(-50%, -50%);
      width: 50%;
      z-index: 9;
}