#page-title {
    text-align:center;
}
.hidden {
    display: none;
}

.main_ul {
    list-style-type:none;
}

.main_ul > li > h2 {
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.main_ul > li > h2:hover {
    background-color: yellow;
}

.input-button {
    cursor: pointer;
}

.delete_btn {
    cursor: pointer;
}

.delete_btn:hover {
    color: red;
}