#page-title {
    text-align:center;
}
.hidden {
    display: none;
}

.main_ul {
    list-style-type:none;
}

.main_ul > li > h2 {
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.main_ul > li > h2:hover {
    background-color: yellow;
}

.input-button {
    cursor: pointer;
}

.delete_product, .edit_product, .delete_expense, .edit_expense {
    cursor: pointer;
    display: inline-block;

}

.delete_product:hover, .delete_expense:hover  {
    color: red;
}

.edit_product:hover, .edit_expense:hover  {
    color: blue;
}

